<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release.DEV</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gbips-i-dw735/DataStoreWebApi</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://gbips-i-dw735</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/DataStoreWebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>INT\SVC-GB-GADEPLOY</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UserAdminConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=aspnetdb;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=aspnetdb;User ID=AspNetSecurity;Password=pwd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UserAdminConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=aspnetdb;User Id=AspNetSecurity;Password=pwd;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Aviation" Order="3" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=Aviation;Integrated Security=True;Persist Security Info=True" Name="Data Source=localhost;Initial Catalog=Aviation;Persist Security Info=True;Trusted_Connection=true" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=Aviation;Integrated Security=True;Persist Security Info=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Aviation_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=Aviation;Persist Security Info=True;Trusted_Connection=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Art" Order="4" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=AviationArt;Integrated Security=True;Persist Security Info=True;Connect Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=AviationArt;Integrated Security=True;Persist Security Info=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Art_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=AviationArt;Persist Security Info=True;Trusted_Connection=true;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Art-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=AviationArt;Integrated Security=True;Persist Security Info=True;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Aviation-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=Aviation;Persist Security Info=True;Trusted_Connection=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UserAdminConnection-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=aspnetdb;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>