<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="UserAdminConnection" connectionString="Data Source=localhost;Initial Catalog=aspnetdb;User Id=AspNetSecurity;Password=pwd;" providerName="System.Data.SqlClient" />
    <add name="Aviation" connectionString="Data Source=localhost;Initial Catalog=Aviation;Persist Security Info=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />
    <add name="Art" connectionString="Data Source=localhost;Initial Catalog=AviationArt;Persist Security Info=True;Trusted_Connection=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="MLDB" connectionString="Data Source=localhost;Initial Catalog=AviationMLDB;Persist Security Info=True;Trusted_Connection=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SvcUserName" value="user"/>
    <add key="SvcPassword" value="pwd" />
    <add key="OriginDomains" value="https://localhost:44301, https://localhost:44303" />
    <add key="AuthorisedRoles" value="SuperAdmin,Admin,Client Actuary" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="net.msmq://localhost/private/pubsubservice" binding="netMsmqBinding" bindingConfiguration="PubSubBinding" contract="WCF.Communication.ServiceContracts.IPubSubService" name="ClientEndPoint"/>
    </client>
  </system.serviceModel>
</configuration>